body{
    margin: 0;
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: monospace;
    background-image: url(https://cdn.pixabay.com/photo/2020/04/16/11/10/background-5050200_960_720.png);
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}
h1,p{
    text-align: center;
    margin: 1em auto;
    color: #D9B504;
}
p{
    font-size: 18px;
    font-weight: bold;
}
strong{
    color: #F238E6;
    font-size: 22px;
    font-weight: bolder;
}
form{
    background-color: #07070D;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    padding: 10px 50px;
    border-radius: 30px;
    margin-bottom: 30px;
    box-shadow:10px 10px 30px #0a0a23;
}
fieldset{
    border: none;
}
label{
    display: block;
    margin: 0.5rem 0;
    padding-bottom: 20px;
}
input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    min-width: 300px;
    color: #BF30B6;
    font-weight: bold;
    border-radius: 9px;
    border: none;
    background-color: #D9B504;
  }
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 3em;
  border: 1px solid #BF30B6;
  border-radius: 14px;
  background-color: #0a0a23;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
.inline{
    display: inline;
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}


